html, body, #wrapper {
  height:100%;
}

body {
  background: @body_color;
}

body>header {
  padding: 10px 0 0;
  .container {
    position: relative;
  }
  #logo {
    display: inline-block;
  }
  #languages {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -20px;
  }
}

body>.navbar{
  margin: 20px 0;
  .navbar-inner {
    background: #f8f8f8;
    border: 0; 
    .border-radius(0);
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f6f6f6;
  }

  .btn-navbar{
    float: left;
  }
  form {
    margin: 0;
    .input-append {
      margin: 5px 0;
    }
  }
}