#SetEnv PHP_VER 5_3
SetEnv REGISTER_GLOBALS 0
SetEnv MAGIC_QUOTES 0

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /git/seo/
    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteRule ^$ index.php [QSA,L]
    RewriteRule ^(en|fr)/(.*)$ $2?lng=$1 [QSA]
    RewriteRule ^index/$ index.php [QSA,L]
    RewriteRule ^index.html$ index.php [QSA,L]
    RewriteRule ^(.*).html$ index.php?page=$1 [QSA,L]
</IfModule>
